//Color de la Navbar Grande y Footer
$color-navbar: #090808;
//Color de la mini navbar y Mini Footer
$color-minibar: #151515;
//Color del text shadow y cards mas utilizado de la pagina
$text-shadow1: 0px 7px 40px #8e8e8e;